/* 6 columns grids */
.container {
  padding-left: 2em;
  padding-right: 2em;
}

.row [class^="col-"] {
  float: left;
  padding: 0 1em;
  min-height: 1px; // to keep area of empty cols
}

.row {
  margin-left: -1em;
  margin-right: -1em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1  { width: 16.67% }
.col-2  { width: 33.33% }
.col-3  { width: 50.0%  }
.col-4  { width: 66.67% }
.col-5  { width: 83.33% }
.col-6  { width: 100%   }
